In [1]:
# Import packages
import pandas
import matplotlib.pyplot as plt
# Sqlalchemy setup
from sqlalchemy import inspect
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://{user}:{pw}@localhost/{db}'
                        .format(user='root', pw='12345', db='reuters'))
inspector = inspect(engine)
import copy

In [2]:
tables = inspector.get_table_names(schema='reuters')
#tables

In [3]:
len(tables)

102

In [4]:
class DbToDf:
    """Convert the entire `reuters` database into a dataframe to make analysis easy."""
    def __init__(self, sqlTableNames):
        self.tables = sqlTableNames
        self.DF = self.db_to_df()
        
    def _create_df(self, tableName):
        sql = "SELECT * FROM " + tableName
        df = pandas.read_sql(sql, engine)
        return df
    
    def _merge_dfs(self, df0, df1):
        # Format first dataframe.
        if df0.columns[-1] == 'fin_data_name':
            pass
        else:
            # Get name of financial data.
            finDataName = df0.columns[2]
            # Make new column with value of name of financial data.
            df0['fin_data_name'] = finDataName
            # Rename financial data column to 'data' 
            df0 = df0.rename(columns={finDataName: 'data'})
        # Format second dataframe.
        if df1.columns[-1] == 'fin_data_name':
            pass
        else:
            finDataName = df1.columns[2]
            df1['fin_data_name'] = finDataName
            df1 = df1.rename(columns={finDataName: 'data'})
        # Merge the two dataframes:
        mergedDf = df0.append(df1, ignore_index=True) # Ignore index so it doesn't repeat
        return mergedDf
    
    def db_to_df(self):
        """Create a dataframe using all the tables in the database."""
        numTables = len(self.tables)
        df0 = self._create_df(self.tables[0])
        for i in range(1,numTables):
            df = self._create_df(self.tables[i])
            df0 = self._merge_dfs(df0, df)
            #print("Merging df:", dbTables[i])
        return df0

In [5]:
DF = DbToDf(tables)

In [6]:
dfOriginal = DF.DF
df = copy.deepcopy(dfOriginal)
# Drop GOOGL data, a duplicate of GOOG, overlap because of Alphabet.
df.head(3)

,row_id,ticker,data,conversion_value,statement_date,statement_type,statement_period,timestamp,company_name,url,fin_data_name
0,1,AAPL,42296.0,million,2020-09-26,balance sheet,annual,2021-03-10 16:24:21,Apple Inc,https://www.reuters.com/companies/AAPL.O/finan...,AccountsPayable
1,2,AAPL,46236.0,million,2019-09-28,balance sheet,annual,2021-03-10 16:24:21,Apple Inc,https://www.reuters.com/companies/AAPL.O/finan...,AccountsPayable
2,3,AAPL,55888.0,million,2018-09-29,balance sheet,annual,2021-03-10 16:24:22,Apple Inc,https://www.reuters.com/companies/AAPL.O/finan...,AccountsPayable

In [7]:
# Dump dataframe to .csv
df.to_csv('tables/db_df_20210310.csv', index=False)